html {
    font-size: 62.5%;  /* 1rem = 10px */
}
  
  
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#questionBox {
font-size: 1.8rem;
background-color: wheat;
border: yellow;
}
  
button {
    width: 200px;
    height: 80px;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;
}

#start-button {
    background-color: green;
    font-size: 2rem;
}

#time-button {
    background-color: blue;
    color: white;
    font-size: 2rem;
}

#stop-button{
    background-color: red;
    font-size: 2rem;
}