
/* ********ELEMENTS****** */
html {
    font-size: 62.5%;  /* 1rem = 10px */
}
  
  
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 80px;
    text-align: center;
    flex-direction: row;
    flex-flow: wrap;
    border-radius: 8px;
}

button:hover {
    background-color: rgba(0, 26, 255, 0.212);
  }

button:active {
    color: yellow;
  }

/* ********CLASSES******** */

.answer-bar {
    display: flex;
    flex-direction: row;
    box-shadow: black;
    
    
}

/* ********ID's*********** */

#questionBox {
font-size: 1.8rem;
background-color: wheat;
border: yellow;
}

#start-button {
    background-color: green;
    font-size: 2rem;
}

#time-button {
    background-color: blue;
    color: white;
    font-size: 2rem;
}

#stop-button{
    background-color: red;
    font-size: 2rem;
}

#resultBox {
    background-color: plum;
}

#high-scores {
    background-color: aquamarine;
}